body {
  background: linear-gradient(130deg, #1cb5e0 0%, #000851 100%) fixed;
}

#title {
  text-align: center;
  margin-top: 1rem;
  font-family: "Allura", cursive;
  font-size: 4rem;
  color: white;
}

label {
  color: white;
}
.form-group {
  margin: auto;
  margin-top: 1rem;
  width: 50%;
}

#button-div {
  text-align: center;
  margin-top: 1rem;
}

#game {
  display: none;
  margin-top: 1rem;
}

#headers {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#input-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#word-input {
  width: 30%;
}

button {
  margin: 0 0 0 0.5rem;
}

ul {
  background-color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
  overflow: scroll;
  height: 25rem;
  width: 50%;
  border: 1px solid #bbbbbb;
  margin: 0 auto 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#starter-form {
  display: none;
}

.fa-redo-alt:hover {
  color: white;
}

.fa-times-circle {
  visibility: hidden;
}

.listItemText {
  float: left;
}

li:hover {
  background-color: #eeeeee;
}

li:hover .fa-times-circle {
  visibility: visible;
}

.fa-times-circle:hover {
  color: red;
}

.fa-redo-alt {
  font-size: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  #title {
    font-size: 3rem;
    margin-top: 2rem;
  }

  #headers {
    display: block;
  }

  .game-header {
    font-size: 1.5rem;
  }
  ul {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
    overflow: scroll;
    height: 50vh;
    box-shadow: 2px 2px 10px gray;
    border: 1px solid #bbbbbb;
  }

  .fa-times-circle {
    visibility: visible;
    color: red;
  }

  .fa-redo-alt:hover {
    color: black;
  }

  ul {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
